<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ревмамед</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/timetable.css?v=1.3">

</head>
<body>

{% include 'timetable/includes/menu.html' %}
{% block header %}
{% endblock %}
{% block content %}
{% endblock %}



<script src="/static/js/bootstrap.bundle.min.js"></script>

{% block extra_js %}
{% endblock %}

</body>
</html>